<div class="content-wrapper_">
  <div class="left-content_">
  <div class="left-wrapper_">
    <div>
    <p><span class="bold">Enter your address, then click "Go" to get directions to <span class="italic">Tax Matters!</span></span></p>
  <form action="http://maps.google.com/maps" method="get" target="_blank">
  Enter your starting address:
  <input type="text" name="saddr" />
  <input type="hidden" name="daddr" value="11 Davis Rd, Poughkeepsie, NY" />
  <input type="submit" value="get directions" />
  </form>  
  
  </div>
  </div>
  </div>

<div class="right-content_">
<div class="center">
  <p><span class="bold">Tax Matters </span><span class="italic">is located at</span>
    11 Davis Road Poughkeepsie, New York
  </p>
  <p> You can interact with this map to find out where Tax Matters, LLC is located! </p>
  <h1>Location</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2980.941404871734!2d-73.848416!3d41.657008000000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89dd3f5df86c42bd%3A0x8a9a83ad542e82ed!2s11+Davis+Rd%2C+Poughkeepsie%2C+NY+12603!5e0!3m2!1sen!2sus!4v1420404053197" width="400" height="300" frameborder="0" style="border:0"></iframe>
</div>
<!--
<div class="center" id="directions">
  <h2>Directions from the NYC Area</h2>
   <div class="half-width">
    <p>
      Take the Taconic State Parkway North, remain on Taconic North and take the County Rd 21/ Noxon Rd Exit
      after this turn left onto County Rd 21/Noxon Rd. Turn Right to stay on County Rd 21/ Noxon Rd and continue on Noxon Rd.
      Turn left onto Titusville Rd and then take another left onto Davis Rd. Tax Matters will be on your left.
    </p>
   </div>
  <h2>Directions from the Northern New England</h2>
    <div class="half-width">
    <p>
      Take the New York State Thruway to exit 1 1-87 S. Continue over Kingston Rhinecliff Bridge and take a right onto
      US-9W South. About 15 Miles on 9W South merge onto NY-55/U.S 44 East, continue on NY-55 to Noxon Rd on right, take your next right
      at the light onto Titusville Rd and then your first left onto Davis Rd. Tax Matters will be on your left.
    </p>
    </div>
</div>
</div>
-->
