
  <p class="big-bold">Tax Matters offers a wide range of services to our individual and business clients. 
  Because our firm is relatively small, our clients’ benefit by getting personalized, quality 
  service that is beyond comparison. Below I have listed the services that we offer to our 
  clients along with a brief description. </p>
  
<div>
<h1 class="bold underline center">Tax Services:</h1>
<div id="side_box" class="center thund-acenter">
  <%= image_tag("services1.jpg", :alt => "irs", :class => "pic") %>
</div>
<ul id="side-list">
<li>Individual Taxes </li>
<li>Small Business Sole Proprietors </li>
<li>Partnerships</li>
<li>Small Corporations</li>
<li>Trusts</li>
<li>Business Conversions- Sole Proprietor to Limited Liability Company</li>
</ul>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
<h3>
Each year I keep my clients informed about the 
current years existing credits and deductions as well as any changes 
to the Tax Code by sending a personal letter to each of them early in January.
</h3>
<h3>
I meet personally with each new client to go over your specific tax situation and review your prior years return. 
</h3>
<h2 class="bold italic">
John  Daubman prepares all returns personally from a simple short return to the most complex! 
With over 30 years experience and being designated as a Registered Tax Return Preparer 
by the I.R.S. you can be sure your return is accurate!
</h2>
<h3>
Of course, Tax Matters stands behind all our returns and is prepared to
 assist you should your return be selected for an Audit or to answer any questions the I.R.S. may have.
</h3>
<h3>
I maintain a small practice with a limited client base, which allows me to operate 
from an office connected to my home providing clients access to me & my services 7 days a week!!!  
</h3>
</br>
</br>
</br>
<div >
<h1 class="bold underline center">Other Services:</h1>
<div id="side_box" class="center thund-acenter">
  <%= image_tag("services2.jpg", :alt => "irs", :class => "pic") %>
</div>
<ul id="side-list">
<li>Notary Public	</li>
<li>Tax Consulting/Advice</li>
<li>Business Organization & Setup</li>
<li>IRS Problem Resolution</li>
<li>24 Hour Drop-Off</li>
</ul>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
