// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.alert{
    font-size: 20pt;
    text-align: center;
    background-color: red;
    color: white;
    width: 900px;
    -moz-box-shadow: 10px 5px 5px black;
    -webkit-box-shadow: 10px 5px 5px black;
    box-shadow: 10px 5px 5px black;
    -moz-border-radius: 15px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.input-base{
    background: #CECCC9;
}

textarea{
	border: none !important;
	width: 100%;
	}

.selected{
    background-color: #FFF;
    opacity: .7;
}

label {
    display: block;
    width: 50px;
    float: left;
    text-align: left;
}

.button{
    background-color: rgba(0,0,0,.4);
    display: block;
    margin-top: 25px;
    width: 150px;
    float: left;
    color: #424A1F;
    font-family: times !important;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px black;
    -moz-box-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 10px black;
}
.button:hover{
    cursor:pointer;
    height: 25px;
    width: 155px;
    }
.fields{
    background-color: rgba(0,0,0,.4);
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px black;
    -moz-box-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 10px black;
}
.actions{
   border: none;
}