#staff_wrapper{
        width: 960px;
        }

.img_med{
        height: 300px;
        margin: 0px auto;
        }

.img_pojo{
        height: 300px;
        margin: 0px auto;
        padding-left: 25%;
        }

#tm_sign , #pojo_ann{
        width: 475px;
        margin: 0px auto;
        }

#staff_left{
        width: 425px;
        float: left;
        }

#staff_right{
        width: 425px;
        float: left;
        }

#lr_wrap{
        width: 900px;
        height: 850px;
        margin: 0px auto;
        }

